---
export interface Props {
  href: string;
  style: 'pri' | 'sec';
  class?: string;
  reload?: boolean;
  title?: string;
}

const styles = {
  pri: `text-base font-medium text-center text-text 
    rounded-md bg-pri border border-pri focus:ring-4 focus:ring-pri/20`,
  sec: `text-base font-medium text-center 
    border rounded-md focus:ring-4 border-paragraph focus:ring-paragraph`
}
---

<a 
  href={Astro.props.href} 
  title={Astro.props.title}
  class=`
    inline-flex items-center justify-center 
    ${styles[Astro.props.style]}
    ${Astro.props.class}
  `
  data-astro-reload={Astro.props.reload}
>
  <slot />
</a>